.bodyEditorContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.textareaContainer {
  min-height: 100px;
}

.prettifyButton {
  align-self: flex-end;
  background-color: #cadefc;
  color: #65676e;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 10px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 1rem;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.prettifyButton:hover {
  background-color: #fcfcd4;
  transform: translateY(-2px);
}

.prettifyButton:active {
  transform: translateY(0);
}
