.authForm {
  max-width: 400px;
  margin: 0 auto;
  padding: var(--sp-md);
  border: 1px solid var(--light-grey);
  border-radius: var(--br-md);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.authForm h1 {
  text-align: center;
  margin-bottom: var(--sp-md);
}

.authForm label {
  display: block;
  margin-bottom: var(--sp-sm);
}

.authForm input {
  width: 100%;
  padding: var(--sp-sm);
  margin-bottom: var(--sp-sm);
  border: 1px solid var(--light-grey);
  border-radius: var(--br-md);
}

.authForm button {
  width: 100%;
  padding: var(--sp-md);
  background-color: var(--blue);
  color: var(--text-dark);
  font-weight: var(--fw-bold);
  font-size: var(--fs--sm);
  margin-top: var(--sp-md);
  border: 1px solid var(--light-grey);
  border-radius: var(--br-md);
  cursor: pointer;
  font-family: "Manrope", sans-serif;
}

.authForm button:hover {
  background-color: var(--yellow);
}

.errorMessage {
  color: var(--error-red);
  font-size: var(--fs-sm);
  margin-top: var(--sp-sm);
  margin-bottom: var(--sp-sm);
}
